@keyframes rotating {
    to {
        transform: rotate(360deg);
    }
}

.loading {
    width: 80px;
    height: 80px;

    margin: 10px 0;

    border-radius: 50%;
    border: 6px solid rgb(243, 243, 243);
    border-top-color: #0080cd;

    animation: rotating 1s linear infinite;
}

.loadingText {
    font-size: 1.5rem;
}

.card {
    background-color: rgba(128, 128, 128, 0.137) !important;
}

.card p {
    font-size: 1.2rem;
    padding: 5px;
}

.icon {
    height: 120px;
}

.currentTemp {
    height: 120px;
}

.currentTemp p {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.horizontalLineDivision {
    margin: 0 !important;
    color: black;
    height: 4px;
    width: 80%;
}

.labels p {
    width: 100px;
    font-size: 0.95rem;
    margin: 0;
    padding: 0;
}

.divisionLine {
    background-color: black;
    height: 40px;
    width: 2px;
}

.feelsLikeTemp p {
    padding: 0;
    margin: 0;
}

.feelsLikeTemp .feelsLike  {
    font-size: 2rem;
    font-weight: 600;
}

.measurement {
    font-size: 0.8rem;
}