:root {
  --blue-500: #007ecd;
  --grey-200: rgba(128, 128, 128, 0.137);
  --white-800: #FFF;
  --white-400: rgb(243, 243, 243);
  --black-800: rgb(0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}
